<a href="https://colab.research.google.com/github/FredMiraglia/projeto_analise_dados/blob/main/Projeto_cluster_Kmeans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [31]:
df = pd.read_csv('/content/College_Data' ,index_col=0 )

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 777 entries, Abilene Christian University to York College of Pennsylvania
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Private      777 non-null    object
 1   Apps         777 non-null    int64
 2   Accept       777 non-null    int64
 3   Enroll       777 non-null    int64
 4   Top10perc    777 non-null    int64
 5   Top25perc    777 non-null    int64
 6   F.Undergrad  777 non-null    int64
 7   P.Undergrad  777 non-null    int64
 8   Outstate     777 non-null    int64
 9   Room.Board   777 non-null    int64
 10  Books        777 non-null    int64
 11  Personal     777 non-null    int64
 12  PhD          777 non-null    int64
 13  Terminal     777 non-null    int64
 14  S.F.Ratio    777 non-null    float64
 15  perc.alumni  777 non-null    int64
 16  Expend       777 non-null    int64
 17  Grad.Rate    777 non-null    int64
dtypes: float64(1), int64(16), object(1)
memory usage: 115.3+ KB

In [33]:
df.describe()

,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
count,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.00000
mean,3001.638353,2018.804376,779.972973,27.558559,55.796654,3699.907336,855.298584,10440.669241,4357.526384,549.380952,1340.642214,72.660232,79.702703,14.089704,22.743887,9660.171171,65.46332
std,3870.201484,2451.113971,929.176190,17.640364,19.804778,4850.420531,1522.431887,4023.016484,1096.696416,165.105360,677.071454,16.328155,14.722359,3.958349,12.391801,5221.768440,17.17771
min,81.000000,72.000000,35.000000,1.000000,9.000000,139.000000,1.000000,2340.000000,1780.000000,96.000000,250.000000,8.000000,24.000000,2.500000,0.000000,3186.000000,10.00000
25%,776.000000,604.000000,242.000000,15.000000,41.000000,992.000000,95.000000,7320.000000,3597.000000,470.000000,850.000000,62.000000,71.000000,11.500000,13.000000,6751.000000,53.00000
50%,1558.000000,1110.000000,434.000000,23.000000,54.000000,1707.000000,353.000000,9990.000000,4200.000000,500.000000,1200.000000,75.000000,82.000000,13.600000,21.000000,8377.000000,65.00000
75%,3624.000000,2424.000000,902.000000,35.000000,69.000000,4005.000000,967.000000,12925.000000,5050.000000,600.000000,1700.000000,85.000000,92.000000,16.500000,31.000000,10830.000000,78.00000
max,48094.000000,26330.000000,6392.000000,96.000000,100.000000,31643.000000,21836.000000,21700.000000,8124.000000,2340.000000,6800.000000,103.000000,100.000000,39.800000,64.000000,56233.000000,118.00000

In [ ]:
sns.pairplot(df, hue='Private')

In [ ]:
sns.set_style('whitegrid')
sns.scatterplot(data=df,x='Room.Board', y='Grad.Rate',sizes=10,hue='Private')
plt.show()

In [ ]:
sns.set_style('whitegrid')
sns.lmplot(data=df,y='F.Undergrad', x='Outstate',hue='Private')
plt.show()

In [ ]:
df.columns

In [ ]:
sns.set_style('darkgrid')
g = sns.FacetGrid(df, hue='Private', height=5, aspect=1)
g = g.map(plt.hist, 'Outstate', bins=20, alpha=0.5)

In [ ]:
sns.set_style('darkgrid')
g = sns.FacetGrid(df, hue='Private', height=5, aspect=1)
g = g.map(plt.hist,'Grad.Rate', bins=20, alpha=0.5)

In [ ]:
df.loc['Cazenovia College','Grad.Rate'] = 100

In [ ]:
df[df['Grad.Rate']>100]

In [ ]:
sns.set_style('darkgrid')
g = sns.FacetGrid(df, hue='Private', height=5, aspect=1)
g = g.map(plt.hist,'Grad.Rate', bins=20, alpha=0.5)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scater = MinMaxScaler()

In [ ]:
scater = scater.fit_transform(df.drop('Private', axis=1))

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
kmeans = KMeans(n_clusters=2)
kmeans.fit(scater)
pred = kmeans.predict(df.drop('Private', axis=1))

In [ ]:
kmeans.cluster_centers_

In [ ]:
df['Private']

In [ ]:
df['Private'] = df['Private'].map({'Yes':1,'No':0})

In [ ]:
df['Private']

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix

In [ ]:
print(classification_report(df['Private'], kmeans.labels_))
print(confusion_matrix(df['Private'], kmeans.labels_))